@import "../../styles.scss";

.stories {
  @include themify($themes) {
    display: flex;
    gap: 10px;
    height: 250px;

    @include mobile {
      height: 50px;
      margin-bottom: 0;
      justify-content: space-between;
    }

    @include tablet {
      height: 150px;
      gap: 20px;
    }

    .story {
      border-radius: 10px;
      overflow: hidden;
      flex: 1;
      position: relative;
      z-index: 1;
      transition: transform 0.3s;
      cursor: pointer;

      &:hover {
        transform: scale(1.02);
      }

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 0;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
      }

      span {
        position: absolute;
        color: white;
        bottom: 10px;
        left: 10px;
        font-size: 12px;
        z-index: 2;
      }

      .plus {
        position: absolute;
        bottom: 30px;
        left: 10px;
        color: white;
        background-color: rgb(26, 109, 243);
        border-radius: 50%;
        width: 25px;
        height: 25px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        cursor: pointer;
      }
    }

    .preview {
      border-radius: 10px;
      overflow: hidden;
      
      img {
        width: 100%;
        height: 50%;
        object-fit: cover;
      }
      .upload-btn {
        border: none;
        outline: none;
        padding: 10px;
        background-color: themed("blueColor");
        color: #fff;
        cursor: pointer;
        border-radius: 5px;
        font-weight: 600;
        margin-top: 10px;
      }
    }
  }
}
